<!DOCTYPE html>

<html>
    <head>
        <title>Marcas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
    	<div class="container">
	    	<table class="table table-stripped">
	        	<caption>Marcas</caption>
	            <thead>
	                <th>C&oacute;digo</th>
	                <th>Nombre</th>
	            </thead>
	            <tbody>
	                {{#marcas}}
	                <tr>
	                    <td>{{codigo}}</td>
	                    <td>{{nombre}}</td>
	                </tr>
	                {{/marcas}}
	            </tbody>
	        </table>
    	</div>      
    </body>
</html>